@font-face {
  font-family: 'NM Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./NeuemoderneGroteskRegular.otf') format('OpenType');
}

@font-face {
  font-family: 'NM Black';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./NeuemoderneGroteskBlack.otf') format('OpenType');
}

@font-face {
  font-family: 'NM Thin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./NeuemoderneGroteskThin.otf') format('OpenType');
}

@font-face {
  font-family: 'NM Medium';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./NeuemoderneGroteskMedium.otf') format('OpenType');
}


@font-face {
  font-family: 'Edwardian';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./edwardian.ttf') format('TrueType');
}
